playwright
playwright-stealth
pydub
vosk
requests
aiohttp
aiofiles
numpy
pillow
opencv-python
fastapi
gunicorn
randomuser
playwright
playwright-recaptcha
playwright-stealth
pydantic
pandas
fake_useragent
httpx
flask
flask[async]
